:root {
  --white-baground: #ffffff;
  --dark: #2e2f42;
  --pressed-state: #404bbf;
  --primary-brand: #4d5ae5;
  --text: #434455;
  --light: #f4f4fd;
  --accent: #e7e9fc;
  --subtle-text: #8e8f99;
  --success: #31d0aa;
  --modal-background: #fcfcfc;
  --standart-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


body {
  color: var(--text);
  background-color: var(--white-bagr);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

* {
  box-sizing: border-box;
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
  cursor: pointer;
  font-style: normal;
}

.section {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  /* outline: 2px tomato dashed; */
}
.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.no-scroll {
  overflow: hidden;
}

/* Hlava */

.header {
  border-bottom: 1px solid var(--accent);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  position: relative;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

/* Logo */
.logo {
  color: var(--primary-brand);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 1.17;
  font-weight: 800;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
}
.logo-span {
  color: var(--dark);
}

/* Navigace */
.nav-links {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  padding: 24px 0 22px;
}

.nav-item:hover,
.nav-item:focus {
  color: var(--pressed-state);
}

.nav-item {
  display: inline-block;
  padding: 24px 0;
  color: var(--dark);
  transition: color var(--standart-transition);
}

.nav-list {
  display: none;
  gap: 40px;
  margin-right: auto;
}

.actual-page {
  position: relative;
  color: var(--pressed-state);
}

.actual-page::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: var(--pressed-state);
  border-radius: 2px;
}

/* Contacts */
.address {
  display: none;
  font-style: normal;
  margin-left: auto;
}
.contact {
  display: block;
  color: var(--text);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  text-decoration: none;
  transition: color var(--standart-transition);
}

.contact:hover,
.contact:focus {
  color: var(--pressed-state);
}

.contact-list {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}

.menu-btn-mob {
  display: block;
  height: 32px;
  width: 32px;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-top: 20px;
}

/* MOB MENU */
.menu-close-mob {
  position: absolute;
  z-index: 1;
  height: 24px;
  width: 24px;
  background-color: var(--white-baground);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 24px;
  top: 24px;
  cursor: pointer;
}

.menu-close-mob:focus {
  background-color: var(--pressed-state);
  fill: var(--white-baground);
  border: none;
}

.menu-wrap-mob {
  display: flex;
  flex-direction: column;
  background-color: var(--white-baground);
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  position: fixed;
  padding: 80px 35px 40px;
}
.menu-icon-mob {
  stroke: var(--dark);
}

.nav-item-mob {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 40px;
}
.nav-link-mob {
  color: var(--dark);
}
.actual-menu-item {
  color: var(--pressed-state);
}
.menu-address-mob {
  margin-top: auto;
}

.menu-number-mob {
  margin-bottom: 40px;
}
.contact-number-mob {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--primary-brand);
}

.menu-mail-mob {
  margin-bottom: 48px;
}
.contact-mail-mob {
  color: var(--text);
}

.mob-soc {
  display: flex;
  justify-content: space-between;
}
/* Hero */

.hero-container {
  max-width: 428px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero {
  background-color: var(--dark);
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bcg-people-office-mob.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2ddpx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-phone-2x.jpg);
  }
}
.hero-title {
  color: var(--white-baground);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 320px;
  margin-bottom: 72px;
  text-transform: capitalize;
}

.button-hero {
  display: block;
  background-color: var(--primary-brand);
  color: var(--white-baground);
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 4px;
  border: 0;
  min-width: 169px;
  transition: background-color var(--standart-transition);
}

.button-hero:hover,
.button-hero:focus {
  background-color: var(--pressed-state);
}

/* Funkce */
.features-section {
  padding: 96px 0;
}

.feature-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.features-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.feature-container {
  max-width: 100%;
}

.feature {
  color: var(--text);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.icon-bg {
  display: none;
  background-color: var(--light);
  align-items: center;
  justify-content: center;
  padding: 24px 100px;
  border-radius: 4px;
  margin-bottom: 8px;
}

/* What are we doing */

.presentation-section {
  padding-bottom: 120px;
  display: none;
}
.presentation-picture {
  display: flex;
  gap: 24px;
}

.presentation-title {
  margin-bottom: 72px;
}

.pres-picture {
  width: calc((100% - 48px) / 3);
}

/* Our team */
.section-title {
  color: var(--dark);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.team-title {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.team {
  background-color: var(--light);
  padding: 96px 0;
}

.member-photo {
  max-width: 100%;
}

.team-member {
  background-color: var(--white-baground);
  background: var(--white-baground);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;

}
.member-container {
  padding: 32px 0px;
  text-align: center;
}
.member-name {
  margin-bottom: 8px;
}
.spec {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
  margin-bottom: 8px;
}
.soc-media-links {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.soc-media-icon {
  width: 40px;
  height: 40px;
}
.soc-link {
  background-color: var(--primary-brand);
  padding: 12px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--light);
  transition: background-color var(--standart-transition);
}
.soc-link:hover,
.soc-link:focus {
  background-color: var(--pressed-state);
}

/* Customers */
.customers-section {
  padding: 96px 0;
}
.customers-title {
  margin-bottom: 72px;
  line-height: 1.1;
}
.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.customer {
  width: 190px;
  height: 88px;
}

.customer-link {
  display: flex;
  border: 1px solid var(--subtle-text);
  border-radius: 4px;
  color: var(--subtle-text);
  padding: 16px 32px;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  transition: border-color var(--standart-transition),
    color var(--standart-transition);
}

.customer-link:hover,
.customer-link:focus {
  color: var(--pressed-state);
  border-color: var(--pressed-state);
}
.customer-icon {
  fill: currentColor;
  display: flex;
}

/* Footer */
.footer {
  background-color: var(--dark);
  color: var(--light);
  padding: 100px 0;
  display: flex;
}

.footer-logo {
  display: flex;
  color: var(--primary-brand);
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.accent-footer {
  color: var(--light);
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.logo-footer-text {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 72px;
}

.footer-text {
  max-width: 268px;
}

.soc-media-footer {
  margin-bottom: 72px;
  padding: 0 80px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.soc-list {
  display: flex;
  gap: 16px;
}

.footer-soc-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: var(--white-baground);
  text-align: center;
}
.footer-soc-link {
  background-color: var(--primary-brand);
  padding: 8px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--light);
  transition: background-color var(--standart-transition);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--success);
}

.sub-field-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sub-label {
  display: block;
  margin-bottom: 16px;
}

.sub-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.sub-field {
  width: 100%;
  height: 40px;
  margin: 0 auto;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 8px 16px;
  outline: none;
  color: var(--white-baground);
}

.sub-field::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.sub-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.sub-button {
  display: inline-flex;
  flex-direction: row;
  background: var(--primary-brand);
  border-radius: 4px;
  border: none;
  min-width: 165px;
  height: 40px;
  cursor: pointer;
  color: var(--white-baground);
  align-items: center;
  justify-content: center;
  padding: 0 24px;
  fill: var(--white-baground);
  transition: background-color var(--standart-transition);
}

.sub-button:hover,
.sub-button:focus {
  background-color: var(--pressed-state);
}

.sub-icon {
  margin-left: 16px;
}

/*?========================== Portfolio ==========================*/

.filter-btn {
  color: var(--primary-brand);
  background-color: var(--light);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: 1px solid var(--accent);
  border-radius: 4px;
}
.portfolio-section {
  padding: 96px 0 120px;
}

.filter {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.filter-btn {
  padding: 12px 24px;
  transition: background-color var(--standart-transition),
    color var(--standart-transition), border-color var(--standart-transition),
    box-shadow var(--standart-transition);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--white-baground);
  background-color: var(--pressed-state);
  border-color: transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*! ---------------------- Examples ------------------------- */
.example-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.project-pic {
  max-width: 100%;
}

.spec-container {
  padding: 32px 16px;
  border: 1px solid var(--accent);
  border-top: none;
}
.project-examples {
  background-color: var(--white-baground);
  max-width: 360px;
}

.spec-title {
  margin-bottom: 8px;
}

.example {
  display: block;
  transition: box-shadow var(var(--standart-transition));
}

.example:hover,
.example:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.example:hover .example-top-text,
.example:focus .example-top-text {
  transform: translateY(0);
}
.example-wrap {
  position: relative;
  overflow: hidden;
}

.example-top-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  color: var(--light);
  background-color: var(--primary-brand);
  height: 100%;
  transform: translateY(100%);
  transition: transform var(--standart-transition);
}

/* MODAL */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--standart-transition),
    visibility var(--standart-transition);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 20px);
  max-width: 392px;
  min-height: 584px;
  transform: translate(calc(-50% - 10px), -50%) scale(1);
  background-color: var(--modal-background);
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform var(--standart-transition);
  margin-left: 10px;
  margin-right: 10px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal-close {
  position: absolute;
  height: 24px;
  width: 24px;
  background-color: var(--accent);
  border-radius: 50%;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 24px;
  top: 24px;
  transition: background-color var(--standart-transition),
    border var(--standart-transition);
  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
  background-color: var(--pressed-state);
  fill: var(--white-baground);
  border: none;
}
.close-icon {
  transition: fill var(--standart-transition);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal-form {
  padding: 72px 16px 24px;
}

.mod-input-wrap {
  position: relative;
}
.modal-icon {
  position: absolute;
  top: 50%;
  left: 9px;
  transform: translateY(-50%);
  transition: fill var(--standart-transition);
}

.mod-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  max-width: 360px;
  height: 40px;
  padding-left: 30px;
  outline: none;
  transition: border-color var(--standart-transition);
  font-size: 14px;
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.mod-input:focus {
  border-color: var(--pressed-state);
}

.mod-input:focus + .modal-icon {
  fill: var(--primary-brand);
}

.label-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text);
}

.mod-comment {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  max-width: 360px;
  height: 120px;
  outline: none;
  margin-bottom: 16px;
  padding: 8px 16px;
  font-size: 12px;
}
.mod-comment:focus {
  border-color: var(--pressed-state);
}

.mod-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
/* *************************************************************** */

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
}

.tick-wrap {
  display: flex;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  transition: background-color var(--standart-transition),
    border var(--standart-transition);
}
.checkbox-tick {
  fill: var(--white-baground);
  opacity: 0;
  transition: opacity var(--standart-transition);
}
.checkbox:checked + .tick-wrap {
  background-color: var(--primary-brand);
  border: 1px solid var(--primary-brand);
}

.checkbox:checked + .tick-wrap > .checkbox-tick {
  opacity: 1;
}
.checkbox:focus + .tick-wrap {
  outline: 1px solid var(--primary-brand);
}
/* *************************************************************** */
.priv-policy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.privacy-link {
  color: var(--pressed-state);
}
.modal-send {
  display: block;
  background: var(--primary-brand);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 169px;
  height: 56px;
  color: var(--white-baground);
  margin: 0 auto;
  border: none;
  cursor: pointer;
  transition: background-color var(--standart-transition);
  margin-top: 24px;
}

.modal-send:hover,
.modal-send:focus {
  background-color: var(--pressed-state);
}
